<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.voltage.app"
    android:versionCode="88"
    android:versionName="1.1.0">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="22"/>

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name=".application.VoltageApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_voltage_icon"
        android:label="@string/app_name"
        android:logo="@drawable/ic_voltage_logo"
        android:theme="@style/VoltageTheme.Color_333333">

        <activity
            android:name=".activities.LauncherActivity"
            android:theme="@style/VoltageTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.InboxActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activities.AccountActivity"
            android:theme="@style/VoltageTheme.Dialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activities.ConversationActivity"
            android:parentActivityName=".activities.InboxActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activities.ConversationNewActivity"
            android:noHistory="true"
            android:parentActivityName=".activities.InboxActivity"
            android:theme="@style/VoltageTheme.Dialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activities.ConversationEditActivity"
            android:parentActivityName=".activities.InboxActivity" />

        <activity
            android:name=".activities.MembersActivity"
            android:noHistory="true"
            android:parentActivityName=".activities.InboxActivity"
            android:theme="@style/VoltageTheme.Dialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activities.MembersAddActivity"
            android:noHistory="true"
            android:parentActivityName=".activities.InboxActivity"
            android:theme="@style/VoltageTheme.Dialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activities.MembersRemoveActivity"
            android:noHistory="true"
            android:parentActivityName=".activities.InboxActivity"
            android:theme="@style/VoltageTheme.Dialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activities.UserListActivity"
            android:parentActivityName=".activities.InboxActivity" />

        <activity
            android:name=".activities.UserNewActivity"
            android:parentActivityName=".activities.UserListActivity" />

        <activity
            android:name=".activities.UserSearchActivity"
            android:parentActivityName=".activities.UserListActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activities.UserAddParamsActivity"
            android:parentActivityName=".activities.UserListActivity" />

        <activity
            android:name=".activities.UserAddNfcActivity"
            android:parentActivityName=".activities.UserListActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.io.voltage.app" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.UserAddLinkActivity"
            android:noHistory="true"
            android:parentActivityName=".activities.UserListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="voltage.io" />
                <data android:pathPrefix="/add_friend" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.UserEditActivity"
            android:parentActivityName=".activities.UserListActivity" />

        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.InboxActivity" />

        <activity
            android:name=".activities.BroadcastActivity"
            android:parentActivityName=".activities.SettingsActivity" />

        <activity
            android:name=".activities.ColorSelectionActivity"
            android:theme="@style/VoltageTheme.Dialog"/>

        <activity
            android:name=".activities.ImageSearchActivity"/>

        <activity
            android:name=".activities.CrashListActivity"/>

        <provider
            android:name=".application.VoltageContentProvider"
            android:authorities="io.voltage.app.application.VoltageContentProvider"
            android:exported="false" />

        <service android:name=".application.VoltageMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".application.VoltageInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".application.VoltageAuthenticatorService"
            android:permission="android.permission.ACCOUNT_MANAGER">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".application.VoltageSyncAdapterService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

    </application>

</manifest>